* {
    box-sizing: border-box;
}

.wrapper {
    width: 1000px;
    background-color: #037546;
    height: 600px;
    margin-top: 100px;
    margin-left: 100px;
    position: relative;
}

.item1,
.item2 {
    text-align: center;
    color: white;
    text-transform: uppercase;
    padding-top: 50px;
}

.item1 {
    background-color: rgb(10, 10, 255);
    height: 200px;
    width: 200px;
    position: fixed;
    bottom: 0px;

    .item2 {
        background-color: #e69926;
        height: 250px;
        width: 250px;
        position: absolute;
        border-radius: 50%;
        overflow: hidden;
        left: 0px;
        top: 0px;
    }